//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
            a(href="http://localhost:3000/add-cobj") Add a Spaceship
        .cards
            each spaceship in data
                .card 
                    h2.card__name #{spaceship.properties.name}  
                    div.row
                        div.l Width:
                        div.r  #{spaceship.properties.width}
                    div.row
                        div.l Length:
                        div.r  #{spaceship.properties.length}
                    div.row
                        div.l  Has Hyperdrive:
                        div.r
                            if spaceship.properties.has_light_speed_drive
                                div.r  Yes
                            else
                                div.r  No
                    div 
                        a(href=`http://localhost:3000/update-cobj/${spaceship.properties.name}`) Update
                        a(href=`http://localhost:3000/delete-cobj/${spaceship.properties.hs_object_id}`) Delete
                    